@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed';
}

p,
a {
    font-family: 'Source Sans Pro';
}

/* Hover */
.cool-hover {
    text-decoration: none;
    position: relative;
}
.cool-hover {
    cursor: pointer;
}
.cool-hover::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #CF8E55;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.cool-hover:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

